body{
	background: silver;
	font-family: sans-serif;
}
.box-1{
	text-align: center;
	margin: 100px 0px 0px 0px;
}
.box-1 h3{
	color: gray;
}
.container{
	width: 98%;
	margin: auto;
}
.my-form label{
	padding: 10px 0px 0px 0px;
	display: block;
}
.my-form input[type="text"],.my-form textarea{
	padding: 8px;
	width: 100%;
}
.button{
	background-color: limegreen;
	color: white;
	border-radius: 12px;
	cursor: pointer;
	height: 60px;
	width: 200px;
}
.button-center{
	text-align: center;
}

