body{
	display: grid;
	grid-template: auto 1fr 100pt / auto 1fr 100pt;
	font-family: times new roman, serif;

}

header{
	background: salmon;
	height:  70pt;
	padding: 15px;
	grid-column: 1/4;
	font-weight: bold;
}
.left{
	background: lightpink;
	grid-column: 1/2;
	min-height: 300px;
}
.content{
	background: yellow;
	grid-column: 2/3;
	min-height: 300px;
	font-weight: bold;
}
.right{
	background: cyan;
	grid-column: 3/4;
	min-height: 300px;
}
footer{
	background: lavender;
	padding: 15px;
	grid-column: 1/4;
}